.bannerSection {
  height: 1005px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  h1 {
    color: #fff;
    padding-top: 100px;
  }
  p {
    color: #fff;
  }
  .ImgBanner {
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerSection {
    height: 700px;
    h1 {
      padding-top: 90px;
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerSection {
    height: 700px;
    h1 {
      padding-top: 90px;
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerSection {
    height: 700px;
    h1 {
      padding-top: 90px;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerSection {
    height: 700px;
    h1 {
      padding-top: 90px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .bannerSection {
    height: 700px;
    h1 {
      padding-top: 90px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerSection {
    height: 100vh;
    h1 {
      padding-top: 90px;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerSection {
    height: 700px;
    h1 {
      padding-top: 0px;
      margin-bottom: 0px;
    }
  }
}
