.blogSection {
  .blogWapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    .blogItem {
      flex: 0 0 calc(33.33% - 10px);
      background: #fff;
      border-radius: 25px;
      margin-bottom: 20px;
      .blogImage {
        height: 250px;
        position: relative;
        img {
          object-fit: cover;
          object-position: center;
          border-radius: 25px 25px 0px 0px;
        }
      }
    }
    .blogContent {
      padding: 30px 20px;
      .dateSec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #3a3b3e;
      }

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #3a3b3e;
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 26px;
          color: #3a3b3e;
          &:hover {
            color: #656d4a;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .blogSection {
    .blogWapper {
      margin-top: 25px;

      .blogItem {
        flex: 0 0 calc(33.33% - 10px);
        border-radius: 22px;
        .blogImage {
          height: 250px;
          img {
            border-radius: 22px 22px 0px 0px;
          }
        }
      }
      .blogContent {
        padding: 30px 20px;
        .dateSec {
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 20px;
        }
        h3 {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .blogSection {
    .blogWapper {
      margin-top: 20px;

      .blogItem {
        flex: 0 0 calc(33.33% - 10px);
        border-radius: 20px;
        .blogImage {
          height: 220px;
          img {
            border-radius: 20px 20px 0px 0px;
          }
        }
      }
      .blogContent {
        padding: 30px 20px;
        .dateSec {
          margin-bottom: 10px;
          font-size: 13px;
          line-height: 20px;
        }
        h3 {
          font-size: 17px;
          line-height: 22px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .blogSection {
    .blogWapper {
      margin-top: 20px;

      .blogItem {
        flex: 0 0 calc(33.33% - 10px);
        border-radius: 20px;
        .blogImage {
          height: 200px;
          img {
            border-radius: 20px 20px 0px 0px;
          }
        }
      }
      .blogContent {
        padding: 25px 20px;
        .dateSec {
          margin-bottom: 10px;
          font-size: 12px;
          line-height: 20px;
        }
        h3 {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .blogSection {
    .blogWapper {
      margin-top: 20px;

      .blogItem {
        flex: 0 0 calc(33.33% - 10px);
        border-radius: 20px;
        .blogImage {
          height: 180px;
          img {
            border-radius: 20px 20px 0px 0px;
          }
        }
      }
      .blogContent {
        padding: 20px 20px;
        .dateSec {
          margin-bottom: 10px;
          font-size: 12px;
          line-height: 20px;
        }
        h3 {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .blogSection {
    .blogWapper {
      margin-top: 20px;

      .blogItem {
        flex: 0 0 calc(33.33% - 10px);
        border-radius: 15px;
        .blogImage {
          height: 130px;
          img {
            border-radius: 15px 15px 0px 0px;
          }
        }
      }
      .blogContent {
        padding: 15px;
        .dateSec {
          margin-bottom: 10px;
          font-size: 11px;
          line-height: 20px;
          letter-spacing: -0.5px;
        }
        h3 {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blogSection {
    .blogWapper {
      margin-top: 20px;
      flex-wrap: wrap;
      .blogItem {
        flex: 0 0 calc(50% - 10px);
        border-radius: 15px;
        margin-bottom: 20px;
        .blogImage {
          height: 130px;
          img {
            border-radius: 15px 15px 0px 0px;
          }
        }
      }
      .blogContent {
        padding: 15px;
        .dateSec {
          margin-bottom: 10px;
          font-size: 11px;
          line-height: 20px;
          letter-spacing: -0.5px;
        }
        h3 {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .blogSection {
    .blogWapper {
      margin-top: 0px;
      flex-wrap: wrap;
      .blogItem {
        flex: 0 0 calc(100% - 0px);
        border-radius: 15px;
        margin-bottom: 20px;
        .blogImage {
          height: 180px;
          img {
            border-radius: 15px 15px 0px 0px;
          }
        }
      }
      .blogContent {
        padding: 15px;
        .dateSec {
          margin-bottom: 10px;
          font-size: 11px;
          line-height: 20px;
          letter-spacing: -0.5px;
        }
        h3 {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }
}
