.serviceSection {
  .serviceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 30px;

    .serviceItem {
      flex: 0 0 calc(50% - 15px);
      margin-bottom: 30px;
      height: 450px;
      border-radius: 30px;
      padding: 30px;
      position: relative;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &::after {
        content: "";
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: background 0.4s ease;
        z-index: 0;
      }
      .numberStyles {
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
        display: flex;
        align-items: center;
        letter-spacing: -1.41622px;
        text-transform: capitalize;
        color: #ffffff;
        position: absolute;
        left: 30px;
        top: 30px;
        z-index: 1;
      }
      .serviceTxt {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;

        h4 {
          color: #fff;
          margin-bottom: 0px;
          transition: transform 0.3s ease;
        }

        p {
          font-size: 16px;
          line-height: 22px;
          color: #fff;
          opacity: 0;
          transform: translateY(20px);
          max-height: 0;
          overflow: hidden;
          transition: opacity 0.4s ease, transform 0.4s ease,
            max-height 0.4s ease;
          margin-bottom: 0px;
        }
      }

      .servicebtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
        right: 30px;
        opacity: 0;
        transform: translateY(30px);
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        transition: opacity 0.4s ease, transform 0.4s ease;
        z-index: 2;

        .readMoreIcon {
          width: 80px;
          height: 80px;
          border-radius: 100px;
          background: #656d4a;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;
        }
      }
      .servicebtn1 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9;
        font-size: 0;
      }
      &:hover {
        transform: translateY(-5px);

        &::after {
          background: rgba(0, 0, 0, 0.4);
        }

        .serviceTxt {
          h4 {
            transform: translateY(-10px);
            transition-delay: 0.1s;
          }

          p {
            opacity: 1;
            transform: translateY(0);
            max-height: 65px;
            transition-delay: 0.15s;
            overflow: hidden;
          }
        }

        .servicebtn {
          opacity: 1;
          transform: translateY(-300px);
          transition-delay: 0.2s;

          &:hover {
            .readMoreIcon {
              background: #fff;
              svg {
                path {
                  stroke: #656d4a;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .serviceSection {
    .serviceContainer {
      margin-bottom: 30px;
      margin-top: 30px;

      .serviceItem {
        flex: 0 0 calc(50% - 12px);
        margin-bottom: 24px;
        height: 430px;
        border-radius: 25px;
        padding: 30px;
        .numberStyles {
          font-size: 35px;
          line-height: 35px;
          left: 30px;
          top: 30px;
        }
        .serviceTxt {
          p {
            font-size: 15px;
            line-height: 21px;
          }
        }

        .servicebtn {
          bottom: 20px;
          right: 30px;
          font-size: 16px;

          .readMoreIcon {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .serviceSection {
    .serviceContainer {
      margin-bottom: 30px;
      margin-top: 30px;

      .serviceItem {
        flex: 0 0 calc(50% - 12px);
        margin-bottom: 24px;
        height: 400px;
        border-radius: 25px;
        padding: 25px;
        .numberStyles {
          font-size: 32px;
          line-height: 32px;
          left: 25px;
          top: 25px;
        }
        .serviceTxt {
          p {
            font-size: 15px;
            line-height: 21px;
          }
        }
        .servicebtn {
          bottom: 20px;
          right: 30px;
          font-size: 14px;

          .readMoreIcon {
            width: 70px;
            height: 70px;
            svg {
              width: auto;
              height: 28px;
            }
          }
        }
        &:hover {
          .servicebtn {
            transform: translateY(-260px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .serviceSection {
    .serviceContainer {
      margin-bottom: 25px;
      margin-top: 25px;

      .serviceItem {
        flex: 0 0 calc(50% - 12px);
        margin-bottom: 24px;
        height: 400px;
        border-radius: 25px;
        padding: 25px;
        .numberStyles {
          font-size: 28px;
          line-height: 30px;
          left: 25px;
          top: 25px;
        }
        .serviceTxt {
          p {
            font-size: 14px;
            line-height: 21px;
          }
        }
        .servicebtn {
          bottom: 20px;
          right: 30px;
          font-size: 14px;

          .readMoreIcon {
            width: 65px;
            height: 65px;
            svg {
              width: auto;
              height: 25px;
            }
          }
        }
        &:hover {
          .servicebtn {
            transform: translateY(-260px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .serviceSection {
    .serviceContainer {
      margin-bottom: 25px;
      margin-top: 25px;

      .serviceItem {
        flex: 0 0 calc(50% - 10px);
        margin-bottom: 20px;
        height: 360px;
        border-radius: 20px;
        padding: 20px;
        .numberStyles {
          font-size: 25px;
          line-height: 25px;
          left: 20px;
          top: 20px;
        }
        .serviceTxt {
          p {
            font-size: 13px;
            line-height: 16px;
          }
        }
        .servicebtn {
          bottom: 20px;
          right: 30px;
          font-size: 13px;

          .readMoreIcon {
            width: 60px;
            height: 60px;
            svg {
              width: auto;
              height: 22px;
            }
          }
        }
        &:hover {
          .servicebtn {
            transform: translateY(-240px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .serviceSection {
    .serviceContainer {
      margin-bottom: 25px;
      margin-top: 25px;

      .serviceItem {
        flex: 0 0 calc(50% - 10px);
        margin-bottom: 20px;
        height: 320px;
        border-radius: 20px;
        padding: 15px;
        .numberStyles {
          font-size: 20px;
          line-height: 25px;
          left: 20px;
          top: 20px;
        }
        .serviceTxt {
          p {
            font-size: 13px;
            line-height: 16px;
          }
        }
        .servicebtn {
          bottom: 20px;
          right: 20px;
          font-size: 11px;

          .readMoreIcon {
            width: 50px;
            height: 50px;
            svg {
              width: auto;
              height: 22px;
            }
          }
        }
        &:hover {
          .servicebtn {
            transform: translateY(-210px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .serviceSection {
    .serviceContainer {
      margin-bottom: 25px;
      margin-top: 25px;

      .serviceItem {
        flex: 0 0 calc(100% - 10px);
        margin-bottom: 20px;
        height: 320px;
        border-radius: 20px;
        padding: 15px;
        .numberStyles {
          font-size: 20px;
          line-height: 25px;
          left: 20px;
          top: 20px;
        }
        .serviceTxt {
          p {
            font-size: 13px;
            line-height: 16px;
          }
        }
        .servicebtn {
          bottom: 20px;
          right: 20px;
          font-size: 11px;

          .readMoreIcon {
            width: 50px;
            height: 50px;
            svg {
              width: auto;
              height: 22px;
            }
          }
        }
        &:hover {
          .servicebtn {
            transform: translateY(-210px);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .serviceSection {
    .serviceContainer {
      margin-bottom: 10px;
      margin-top: 20px;

      .serviceItem {
        flex: 0 0 calc(100% - 10px);
        margin-bottom: 20px;
        height: 300px;
        border-radius: 20px;
        padding: 15px;
        .numberStyles {
          font-size: 20px;
          line-height: 25px;
          left: 20px;
          top: 20px;
        }
        .serviceTxt {
          p {
            font-size: 13px;
            line-height: 16px;
          }
        }
        .servicebtn {
          bottom: 20px;
          right: 20px;
          font-size: 10px;

          .readMoreIcon {
            width: 45px;
            height: 45px;
            svg {
              width: auto;
              height: 18px;
            }
          }
        }
        &:hover {
          .servicebtn {
            transform: translateY(-200px);
          }
        }
      }
    }
  }
}
