.bannerImageSec {
  h2 {
    color: #656d4a;
  }
  .embla {
    .embla__viewport {
      overflow: hidden;
      .embla__container {
        backface-visibility: hidden;
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(0px * -1);
        .embla__slide {
          min-width: 0;
          flex: 0 0 100%;
          padding-left: 0px;
          .ImageItem {
            height: 650px;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            &::after {
              content: "";
              background: rgba(0, 0, 0, 0.1);
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0px;
              top: 0px;
              z-index: 0;
            }
            img {
              object-fit: cover;
              border-radius: 20px;
            }
            .after {
              position: absolute;
              right: 30px;
              bottom: 30px;
              background: rgba(0, 0, 0, 0.35);
              backdrop-filter: blur(10px);
              width: 150px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50px;
              color: #fff;
              font-size: 18px;
              z-index: 2;
            }
            .before {
              position: absolute;
              left: 30px;
              bottom: 30px;
              background: rgba(0, 0, 0, 0.35);
              backdrop-filter: blur(10px);
              width: 150px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50px;
              color: #fff;
              font-size: 18px;
              z-index: 2;
            }
          }
        }
      }
    }
  }
  .embla_container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    div {
      cursor: pointer;
      height: 20px;
      transition: 0.3s linear;
      background: #656d4a;
      height: 50px;
      flex: 0 0 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;

      svg {
        width: auto;
        height: 15px;

        path {
          stroke: #fff;
        }
      }

      &:hover {
        transition: 0.3s linear;
        background: #656d4a;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }

    .embla_prev {
      transform: rotate(-180deg);
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerImageSec {
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .ImageItem {
              height: 450px;
              .after {
                right: 30px;
                bottom: 30px;
                width: 150px;
                height: 40px;
                font-size: 16px;
              }
              .before {
                left: 30px;
                bottom: 30px;
                width: 150px;
                height: 40px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .embla_container {
      gap: 10px;

      div {
        height: 20px;
        height: 50px;
        flex: 0 0 50px;
        width: 50px;
        svg {
          height: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerImageSec {
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .ImageItem {
              height: 450px;
              .after {
                right: 30px;
                bottom: 30px;
                width: 150px;
                height: 40px;
                font-size: 16px;
              }
              .before {
                left: 30px;
                bottom: 30px;
                width: 150px;
                height: 40px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .embla_container {
      gap: 10px;

      div {
        height: 20px;
        height: 50px;
        flex: 0 0 50px;
        width: 50px;
        svg {
          height: 15px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerImageSec {
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .ImageItem {
              height: 450px;
              .after {
                right: 30px;
                bottom: 30px;
                width: 150px;
                height: 40px;
                font-size: 16px;
              }
              .before {
                left: 30px;
                bottom: 30px;
                width: 150px;
                height: 40px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .embla_container {
      gap: 10px;

      div {
        height: 20px;
        height: 50px;
        flex: 0 0 50px;
        width: 50px;
        svg {
          height: 13px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerImageSec {
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .ImageItem {
              height: 400px;
              .after {
                right: 25px;
                bottom: 25px;
                width: 120px;
                height: 35px;
                font-size: 15px;
              }
              .before {
                left: 25px;
                bottom: 25px;
                width: 120px;
                height: 35px;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .embla_container {
      gap: 10px;

      div {
        height: 45px;
        flex: 0 0 45px;
        width: 45px;
        svg {
          height: 12px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .bannerImageSec {
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .ImageItem {
              height: 300px;
              .after {
                right: 20px;
                bottom: 20px;
                width: 100px;
                height: 35px;
                font-size: 13px;
              }
              .before {
                left: 20px;
                bottom: 20px;
                width: 100px;
                height: 35px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .embla_container {
      gap: 10px;

      div {
        height: 40px;
        flex: 0 0 40px;
        width: 40px;
        svg {
          height: 12px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerImageSec {
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .ImageItem {
              height: 300px;
              .after {
                right: 20px;
                bottom: 20px;
                width: 80px;
                height: 30px;
                font-size: 13px;
              }
              .before {
                left: 20px;
                bottom: 20px;
                width: 80px;
                height: 30px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .embla_container {
      gap: 10px;
      justify-content: center;
      margin-bottom: 20px;

      div {
        height: 40px;
        flex: 0 0 40px;
        width: 40px;
        svg {
          height: 12px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerImageSec {
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            .ImageItem {
              height: 150px;
              border-radius: 5px;
              img {
                border-radius: 5px;
              }
              .after {
                right: 10px;
                bottom: 10px;
                width: 50px;
                height: 25px;
                font-size: 11px;
              }
              .before {
                left: 10px;
                bottom: 10px;
                width: 50px;
                height: 25px;
                font-size: 11px;
              }
            }
          }
        }
      }
    }
    .embla_container {
      gap: 10px;
      justify-content: center;
      margin-bottom: 20px;

      div {
        height: 40px;
        flex: 0 0 40px;
        width: 40px;
        svg {
          height: 12px;
        }
      }
    }
  }
}
