.bannerSection {
  height: 1005px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
  }
  div {
    position: relative;
    z-index: 1;
  }
  h1 {
    color: #fff;
    padding-top: 100px;
    font-size: 110px;
    line-height: 110px;
    position: relative;
    z-index: 1;
  }
  p {
    color: #fff;
    position: relative;
    z-index: 1;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .bannerSection {
    height: 800px;
    h1 {
      padding-top: 80px;
      font-size: 100px;
      line-height: 100px;
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .bannerSection {
    height: 800px;
    h1 {
      padding-top: 80px;
      font-size: 100px;
      line-height: 100px;
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .bannerSection {
    height: 800px;
    h1 {
      padding-top: 80px;
      font-size: 80px;
      line-height: 80px;
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .bannerSection {
    height: 700px;
    h1 {
      padding-top: 80px;
      font-size: 70px;
      line-height: 70px;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .bannerSection {
    height: auto;
    padding: 120px 0px 50px;
    h1 {
      padding-top: 0px;
      font-size: 70px;
      line-height: 70px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bannerSection {
    height: auto;
    padding: 120px 0px 50px;
    h1 {
      padding-top: 0px;
      font-size: 60px;
      line-height: 60px;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .bannerSection {
    height: auto;
    padding: 120px 0px 50px;
    h1 {
      padding-top: 0px;
      font-size: 60px;
      line-height: 60px;
    }
  }
}
