.benefitSection {
  h2 {
    color: #656d4a;
  }
  &.bgWhite {
    background: #fff;
    .benefitItem {
      border: 1px solid #e0e0e0;
    }
  }
  .benefitWapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0px;

    .benefitItem {
      background: #ffffff;
      border-radius: 30px;
      padding: 20px;
      flex: 0 0 calc(25% - 10px);
      position: relative;
      overflow: hidden;
      transition: background 0.4s ease, transform 0.4s ease;
      transform: translateY(0);
      margin-bottom: 20px;
      height: 350px;

      h4,
      p {
        transition: transform 0.4s ease, color 0.4s ease;
        transform: translateY(10px);
      }
      strong {
        color: #3a3b3e;
      }
      p {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 0px;
      }
      &:hover {
        background: #656d4a;
        transform: translateY(10px);
        strong {
          color: #fff;
        }
        h4,
        p {
          transform: translateY(15px);

          color: #fff;
          &::after {
            background: #fff;
          }
        }
      }

      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 35px;
        letter-spacing: -1.41622px;
        text-transform: capitalize;
        color: #656d4a;
        margin-bottom: 30px;

        &::after {
          content: "";
          background: #656d4a;
          width: 100px;
          height: 2px;
          display: block;
          margin-top: 20px;
        }
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .benefitSection {
    .benefitWapper {
      margin: 40px 0px;

      .benefitItem {
        border-radius: 20px;
        padding: 20px;
        flex: 0 0 calc(25% - 10px);
        height: 350px;

        p {
          font-size: 15px;
          line-height: 20px;
        }

        h4 {
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .benefitSection {
    .benefitWapper {
      margin: 30px 0px;

      .benefitItem {
        border-radius: 20px;
        padding: 20px;
        flex: 0 0 calc(25% - 10px);
        height: 350px;

        p {
          font-size: 14px;
          line-height: 20px;
        }

        h4 {
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .benefitSection {
    .benefitWapper {
      margin: 35px 0px;

      .benefitItem {
        border-radius: 20px;
        padding: 15px;
        flex: 0 0 calc(25% - 10px);
        height: 350px;

        p {
          font-size: 14px;
          line-height: 20px;
        }

        h4 {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .benefitSection {
    .benefitWapper {
      margin: 35px 0px;
      flex-wrap: wrap;

      .benefitItem {
        border-radius: 20px;
        padding: 20px;
        flex: 0 0 calc(50% - 5px);
        height: 220px;

        p {
          font-size: 13px;
          line-height: 20px;
        }

        h4 {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .benefitSection {
    .benefitWapper {
      margin: 30px 0px;
      flex-wrap: wrap;
      .benefitItem {
        border-radius: 20px;
        padding: 20px;
        flex: 0 0 calc(50% - 5px);
        height: 280px;

        p {
          font-size: 13px;
          line-height: 20px;
        }

        h4 {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .benefitSection {
    .benefitWapper {
      margin: 20px 0px;
      flex-wrap: wrap;
      .benefitItem {
        border-radius: 20px;
        padding: 20px 15px;
        flex: 0 0 calc(50% - 5px);
        height: 320px;

        p {
          font-size: 13px;
          line-height: 20px;
        }

        h4 {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
  .benefitSection {
    .benefitWapper {
      margin: 20px 0px;
      flex-wrap: wrap;
      .benefitItem {
        border-radius: 20px;
        padding: 30px 20px;
        border-radius: 20px;
        padding: 30px 15px;
        flex: 0 0 calc(100% - 0px);
        height: 300px;

        p {
          font-size: 13px;
          line-height: 20px;
        }

        h4 {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
