$bodyColor: #f5f5f5;
$primaryColor: #656d4a;
$gradiantColor: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
$bodytxtColor: #3a3b3eb2;

:root {
  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background: $bodyColor;
  font-family: var(--font-poppins);
  max-width: 1920px;
  margin: auto;

  .form-switch {
    .form-check-input {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e") !important;
    }
  }

  &.active {
    overflow: hidden;

    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(7.5px);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 2;
    }
  }

  &.active1 {
    overflow: hidden;
  }

  .navIcon {
    display: none;
  }

  .container {
    max-width: 1440px;
  }

  a {
    text-decoration: none;
  }

  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
    }
  }

  .borderRadiusTop {
    border-radius: 100px 100px 0px 0px;
  }

  .borderRadiusBottom {
    border-radius: 0px 0px 100px 100px;
  }

  .p-100 {
    padding: 100px 0px;
  }

  .blogImage {
    height: 450px;
    border-radius: 30px;
    position: relative;
    margin: 30px 0px;

    img {
      border-radius: 30px;
      object-fit: cover;
    }
  }

  .subtitle {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -1.41622px;
    text-transform: capitalize;
    color: #3a3b3e;
    margin-bottom: 15px;
  }

  h1 {
    font-family: var(--font-bebas-neue);
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 150px;
    letter-spacing: -1.41622px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #f2f3ee;
  }

  h2 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1.41622px;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #3a3b3e;
  }

  h4 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -1.41622px;
    text-transform: capitalize;
    color: #ffffff;
  }

  h5 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -1.41622px;
    text-transform: capitalize;
    color: #3a3b3e;
  }

  p {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.127809px;
    color: $bodytxtColor;
    margin-bottom: 20px;
  }

  .flexStyleBtn {
    display: flex;
    align-items: center;
    gap: 10px;

    &.blackCenter {
      justify-content: center;

      .btnItem {
        a {
          background: #3a3b3e;
          color: #fff;
        }

        &:last-child {
          a {
            &:hover {
              background: #3a3b3e;
              color: #fff;
            }
          }
        }
      }
    }

    &.blackBG {
      .btnItem {
        a {
          background: #3a3b3e;
          color: #fff;
        }

        &:last-child {
          a {
            &:hover {
              background: #3a3b3e;
              color: #fff;
            }
          }
        }
      }
    }

    .btnItem {
      a {
        font-family: var(--font-poppins);
        min-width: 230px;
        height: 65px;
        background: #ffffff;
        backdrop-filter: blur(7px);
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 12px;
        text-align: center;
        letter-spacing: -0.126234px;
        color: #000000;
        padding: 0px 30px;
        transition: all 0.3s ease;

        &:hover {
          background: $gradiantColor;
          color: #ffffff;
          transform: translateY(-3px);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }
      }

      &:last-child {
        a {
          background: $gradiantColor;
          color: #fff;

          &:hover {
            background: #ffffff;
            color: #000000;
          }
        }
      }
    }
  }

  .modal {
    .modal-lg {
      --bs-modal-width: 900px;

      .modal-content {
        border-radius: 20px;
      }
    }
  }

  .modal-backdrop.show {
    opacity: 0.8;
  }

  .SideBar {
    .modal-lg {
      --bs-modal-width: 1200px;
    }

    .react-calendar {
      position: relative;
      z-index: 2;

      .react-calendar__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

        button {
          border: 0px;
          background: transparent;
          flex: 0 0 auto;
          font-size: 30px;
          font-weight: 300;
          padding: 0px 10px;
          height: 100%;
          color: #c9c9c9;
          min-width: 50px;

          &:nth-child(3) {
            font-weight: 600;
            font-size: 16px;
            color: #3a3b3e;
          }

          &:hover {
            color: #656d4a;
          }
        }
      }

      .react-calendar__month-view__weekdays {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        color: #3a3b3e;

        abbr {
          text-decoration: none;
        }
      }

      .react-calendar__decade-view__years {
        gap: 2px;

        .react-calendar__decade-view__years__year {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          border: 1px solid #e6e6e6;
          text-align: center;
          font-weight: 600;
          font-size: 12px;
          color: #3a3b3e;
          background: #f3f3f3;
          border-radius: 100%;
          height: 100px;
          flex-basis: calc(100% / 4 - 5px) !important;
          margin-bottom: 5px;

          &.react-calendar__tile--now {
            position: relative;

            &::after {
              content: "";
              background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
              width: 8px;
              height: 8px;
              border-radius: 100%;
              position: absolute;
              bottom: 10px;
            }
          }

          &:hover {
            background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
            color: #fff;

            &:disabled {
              color: #3a3b3e;
              background: #fff;
            }
          }
        }
      }

      .react-calendar__year-view__months {
        justify-content: space-between;

        .react-calendar__year-view__months__month {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          border: 1px solid #e6e6e6;
          text-align: center;
          font-weight: 600;
          font-size: 12px;
          color: #3a3b3e;
          background: #f3f3f3;
          border-radius: 100%;
          height: 100px;
          flex-basis: calc(100% / 4 - 5px) !important;
          margin-bottom: 5px;

          &.react-calendar__tile--now {
            position: relative;

            &::after {
              content: "";
              background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
              width: 8px;
              height: 8px;
              border-radius: 100%;
              position: absolute;
              bottom: 10px;
            }
          }

          &:hover {
            background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
            color: #fff;

            &:disabled {
              color: #3a3b3e;
              background: #fff;
            }
          }
        }
      }

      .react-calendar__month-view__days {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        color: #3a3b3e;
        gap: 2px;

        button {
          border: 1px solid #e6e6e6;
          background: transparent;
          flex-basis: calc(100% / 7 - 5px) !important;
          font-size: 13px;
          font-weight: 600;
          padding: 0px 10px;
          background: #f3f3f3;
          border-radius: 100%;
          margin-bottom: 5px;
          height: 58px;


          &:disabled {
            background: transparent;
          }

          &.react-calendar__tile--now {
            position: relative;

            &::after {
              content: "";
              background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
              width: 8px;
              height: 8px;
              border-radius: 100%;
              position: absolute;
              bottom: 5px;
              left: 50%;
              transform: translate(-50%, -2px);
            }

            &.react-calendar__tile--active {
              &:enabled:focus {
                &::after {
                  content: "";
                  background: #fff;
                }
              }
            }
          }

          &:enabled:hover {
            background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
            color: #fff;
          }

          &.react-calendar__tile--active {
            &:enabled:focus {
              background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
              color: #fff;
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  body {
    .container {
      max-width: 1260px;
    }

    .borderRadiusTop {
      border-radius: 80px 80px 0px 0px;
    }

    .borderRadiusBottom {
      border-radius: 0px 0px 80px 80px;
    }

    .p-100 {
      padding: 80px 0px;
    }

    .subtitle {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 110px;
      line-height: 100px;
    }

    h2 {
      font-size: 40px;
      line-height: 45px;
    }

    h4 {
      font-size: 32px;
      line-height: 3-px;
    }

    h5 {
      font-size: 22px;
      line-height: 30px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    .flexStyleBtn {
      gap: 10px;

      .btnItem {
        a {
          min-width: 220px;
          height: 60px;
          font-weight: 500;
          font-size: 16px;
          line-height: 12px;
          padding: 0px 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  body {
    .container {
      max-width: 1200px;
    }

    .borderRadiusTop {
      border-radius: 70px 70px 0px 0px;
    }

    .borderRadiusBottom {
      border-radius: 0px 0px 70px 70px;
    }

    .p-100 {
      padding: 70px 0px;
    }

    .subtitle {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 110px;
      line-height: 100px;
    }

    h2 {
      font-size: 40px;
      line-height: 50px;
    }

    h4 {
      font-size: 32px;
      line-height: 35px;
    }

    h5 {
      font-size: 22px;
      line-height: 30px;
    }

    p {
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 15px;
    }

    .flexStyleBtn {
      gap: 10px;

      .btnItem {
        a {
          min-width: 210px;
          height: 56px;
          font-weight: 500;
          font-size: 15px;
          line-height: 12px;
          padding: 0px 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  body {
    .container {
      max-width: 1120px;
    }

    .borderRadiusTop {
      border-radius: 60px 60px 0px 0px;
    }

    .borderRadiusBottom {
      border-radius: 0px 0px 60px 60px;
    }

    .p-100 {
      padding: 60px 0px;
    }

    .subtitle {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 100px;
      line-height: 90px;
    }

    h2 {
      font-size: 38px;
      line-height: 45px;
    }

    h4 {
      font-size: 28px;
      line-height: 30px;
    }

    h5 {
      font-size: 20px;
      line-height: 26px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .flexStyleBtn {
      gap: 10px;

      .btnItem {
        a {
          min-width: 200px;
          height: 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 12px;
          padding: 0px 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  body {
    .container {
      max-width: 95%;
    }

    .borderRadiusTop {
      border-radius: 50px 50px 0px 0px;
    }

    .borderRadiusBottom {
      border-radius: 0px 0px 50px 50px;
    }

    .p-100 {
      padding: 50px 0px;
    }

    .subtitle {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 100px;
      line-height: 90px;
    }

    h2 {
      font-size: 38px;
      line-height: 45px;
    }

    h4 {
      font-size: 26px;
      line-height: 30px;
    }

    h5 {
      font-size: 18px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .flexStyleBtn {
      gap: 10px;

      .btnItem {
        a {
          min-width: 200px;
          height: 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 12px;
          padding: 0px 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  body {
    .modal {
      .modal-lg {
        --bs-modal-width: 680px;

        .modal-content {
          border-radius: 20px;
        }
      }
    }

    .container {
      max-width: 95%;
    }

    .borderRadiusTop {
      border-radius: 40px 40px 0px 0px;
    }

    .borderRadiusBottom {
      border-radius: 0px 0px 40px 40px;
    }

    .p-100 {
      padding: 40px 0px;
    }

    .subtitle {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 90px;
      line-height: 80px;
    }

    h2 {
      font-size: 35px;
      line-height: 40px;
    }

    h4 {
      font-size: 20px;
      line-height: 30px;
    }

    h5 {
      font-size: 18px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .flexStyleBtn {
      gap: 10px;

      .btnItem {
        a {
          min-width: 190px;
          height: 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 12px;
          padding: 0px 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    .modal {
      .modal-lg {
        --bs-modal-width: 90%;
      }
    }

    .navIcon {
      z-index: 99;
      justify-content: flex-end;
      display: flex;
      position: relative;

      svg {
        width: 30px;
        height: auto;
      }
    }

    .container {
      max-width: 98%;
    }

    .borderRadiusTop {
      border-radius: 25px 25px 0px 0px;
    }

    .borderRadiusBottom {
      border-radius: 0px 0px 25px 25px;
    }

    .p-100 {
      padding: 40px 0px;
    }

    .subtitle {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 90px;
      line-height: 80px;
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
    }

    h4 {
      font-size: 24px;
      line-height: 30px;
    }

    h5 {
      font-size: 17px;
      line-height: 23px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .flexStyleBtn {
      gap: 10px;

      .btnItem {
        a {
          min-width: 190px;
          height: 50px;
          font-weight: 500;
          font-size: 14px;
          line-height: 12px;
          padding: 0px 25px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  body {
    .modal {
      .modal-lg {
        --bs-modal-width: 95%;
      }
    }

    .navIcon {
      z-index: 99;
      justify-content: flex-end;
      display: flex;
      position: relative;

      svg {
        width: 30px;
        height: auto;
      }
    }

    .container {
      max-width: 98%;
    }

    .borderRadiusTop {
      border-radius: 20px 20px 0px 0px;
    }

    .borderRadiusBottom {
      border-radius: 0px 0px 20px 20px;
    }

    .p-100 {
      padding: 40px 0px;
    }

    .subtitle {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 50px;
      line-height: 50px;
    }

    h2 {
      font-size: 28px;
      line-height: 38px;
    }

    h4 {
      font-size: 20px;
      line-height: 26px;
    }

    h5 {
      font-size: 20px;
      line-height: 26px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }

    .flexStyleBtn {
      gap: 5px;

      .btnItem {
        a {
          min-width: 120px;
          height: 50px;
          font-weight: 500;
          font-size: 13px;
          line-height: 12px;
          padding: 0px 15px;
        }
      }
    }
  }
}