.pageContent {
    background: #f5f5f5;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background: #fff;
        z-index: -1;
    }

    .imageBox {
        height: 550px;
        // position: sticky;
        // top: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 20px;


        img {
            object-position: center;
            object-fit: cover;
        }
    }

    h2 {
        color: #656d4a;
        text-align: center;
        max-width: 80%;
        margin: 0px auto 20px;
        line-height: 60px;
    }

    h3 {
        color: #656d4a;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        max-width: 80%;
        margin: 0px auto 20px;
        line-height: 50px;
    }

    p {
        margin-bottom: 20px;

        span {
            color: #656d4a;
            font-size: 20px;
            font-weight: 600;
            margin-right: 5px;
        }

        a {
            color: #656d4a;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &:nth-child(even) {
        background: #fff;
    }

    .portfolioWrapper {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;

        .portfolioItem {
            position: relative;
            flex: 0 0 calc(100% / 4);
            height: 350px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: transform 0.6s ease;
                transform: scale(1);
            }

            &:hover img {
                transform: scale(1.1);
            }
        }
    }
}