.coreServices {
    h5 {
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .coreWapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 30px;

        .coreItem {
            flex: 0 0 calc(100%/3 - 20px);
            border: 1px solid #e0e0e0;
            border-radius: 20px;
            padding: 30px 20px;
            background: #fff;
            color: #656d4a;

            h6 {
                font-size: 25px;
                margin-bottom: 20px;
                font-weight: bold;
            }

            p {
                margin-bottom: 0px;
                font-size: 16px;
                line-height: 24px;

                span {
                    color: #333;
                    font-size: 25px;
                    font-weight: 600;
                }
            }
        }
    }
}