.primaryServices {
    h5 {
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .primaryWapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 30px;

        .primaryItem {
            flex: 0 0 calc(100%);
            position: relative;
            padding-left: 30px;

            &::after {
                content: '';
                background: #656d4a;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 15px;
                left: 5px;
                border-radius: 100%;
            }

            p {
                margin-bottom: 0px;
                font-size: 18px;
                line-height: 26px;

                span {
                    color: #656d4a;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}